<?php
[database configuration]
database['host'] = 'localhost'
database['username'] = 'postgres'
database['password'] = 'password'
database['dbname'] = 'dbname'
[path configuration]
configuration['shp2pgsql_path'] = 'shp2pgsql'
configuration['csf_path'] = ''
configuration['tmp_path'] = ''
configuration['tmp_path_distributed'] = ''
configuration['input_path'] = 'modules/inputs'
configuration['operator_path'] = 'modules/operators'
configuration['visualization_path'] = 'modules/visualizations'
configuration['audio_path'] = 'files/audio'
configuration['video_path'] = 'files/video'
configuration['image_path'] = 'files/image'
configuration['media_path'] = 'files/media'
configuration['upload_path'] = 'files/upload'
configuration['phppgadmin_path'] = ''
configuration['openlayers_path'] = 'components/bower/openlayers'
configuration['protomenu_path'] = 'components/csf/protomenu'
configuration['prototype_path'] = 'components/bower/prototypejs-bower'
configuration['jquery_path'] ='components/bower/jquery'
configuration['scriptaculous_path'] = 'components/bower/scriptaculous-bower'
configuration['phplivex_path'] = 'components/csf/phplivex'
configuration['excanvas_path'] = 'components/bower/ExplorerCanvas'
configuration['ace_path'] = 'components/bower/ace'
configuration['d3_path'] = 'components/bower/d3'
configuration['jscolor_path'] = 'components/bower/jscolor'
[configuration parameters]
parameters['use_forwarded_ip']='true'
parameters['session_timeout']='200'
?>
